%ul
  - unless request.fullpath == work_helparoundtown_path
    %li= link_to "Help Around Town", work_helparoundtown_path, :class => 'text'
  - unless request.fullpath == work_purplebinder_path
    %li= link_to "Purple Binder", work_purplebinder_path, :class => 'text' 
  - unless request.fullpath == work_globalgreenarts_path
    %li= link_to "Global Green Arts", work_globalgreenarts_path, :class => 'text' 
  - unless request.fullpath == work_rentstuff_path
    %li= link_to "RentStuff", work_rentstuff_path, :class => 'text' 
  - unless request.fullpath == work_projectevie_path
    %li= link_to "Project EVIE", work_projectevie_path, :class => 'text'

