-content_for :title do
  Web Design, Rich Internet Applications, Software Consulting

.grid_12
  %h1.center
    humanweb designs and develops web stuff for humans.

.clear{:style=>'height: 25px;'}

.grid_4
  %h2 Who
  %p
    <span style="font-size:1.2em;">humanweb</span>
    is an enthusiastic tech studio located in
    <b>Chicago</b> and <b>San Francisco</b>. 
    With expertise in areas from scalable infrastructure to
    graphic design, we take a <b>full-stack approach</b> to
    software development.
    We are
    =link_to 'two full-time cofounders', team_path
    who work with a network of designers and developers.

.grid_4
  %h2 What
  %p
    
    We
    develop <b>scalable web
    applications</b>, <b>promotional sites</b>, and everything in
    between. We have provided turn-key technical solutions to
    startups and rescued floundering projects, always using
    the best tools for the job and up-to-date web standards. See our
    %strong= link_to 'case studies', work_path
    for more information.
    

.grid_4
  %h2 How
  %p
    At every step, we focus on building experiences
    rather than just sets of features.
    We work with <b>clients as partners</b>, so your approval
    is built in to our design process. We favor <b>Agile
    development</b>, starting from a minimalist design and iteratively
    adding more. Best of all, we have fun doing it.

.clear{:style=>'height: 30px;'}
.grid_12{:style => 'position: relative;'}
  #slideshow
    %ul
      %li
        .slide-wrapper
          .screenshot= image_tag 'screen-evie1.png'
          .txt
            %h2.sans Batcakes Fruit Orange
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ipsum risus, congue et tempus sed, placerat at nibh. Aliquam ac diam tortor, ac vulputate metus. In suscipit congue ligula vitae sagittis. Ut sodales condimentum tempor. Suspendisse bibendu
            %p
              Curabitur viverra lobortis aliquet. Suspendisse eu elit erat, ut 
      %li
        .slide-wrapper= image_tag 'screen-evie1.png'
      %li
        .slide-wrapper= image_tag 'screen-gga1.png'
      %li
        .slide-wrapper= image_tag 'screen-gga2.png'

:javascript
  $('#slideshow').easySlider({
    continuous: true,
    prevText: '',
    nextText: ''
    //numeric: true
  });

