- content_for :title do
  Professional Wordpress Web Design
- content_for :study_title do
  Global Green Arts

- content_for :study_sidebar do
  .item.light-green.rounded-small
    %h3 Technology Used
    %ul
      %li HTML5 with CSS3
      %li PHP and Wordpress
      %li jQuery

- content_for :study_logo do
  = image_tag 'logo_globalgreen.png'

- content_for :study_body do
  .body-slideshow
    %ul
      %li
        = image_tag 'screenshot-gga4.jpg'
      %li
        = image_tag 'screenshot-gga2.jpg'
      %li
        = image_tag 'screenshot-gga1.jpg'
      %li
        = image_tag 'screenshot-gga3.jpg'

  :javascript
    $('.body-slideshow').easySlider({
      numeric: true,
      controlsBefore: '<div class="numeric-slide-controls">',
      controlsAfter: '</div>'
    });


  %h2.sans What they needed
  %p
    When brothers Steven and David Wade launched their art supply company,
    they needed a site to communicate their vision of sustainable art to
    the world. As veteran designers, they wanted a web studio that could
    deliver perfection down to the pixel. Additionally, the site needed to
    be easily editable to grow and evolve with their company.

  %blockquote.quote.rounded-big
    .text
      &#8220;The site
      looks fantastic and we're able to edit it easily.&#8221;
    .dude
      %b Steven Wade
      %br
      Founder, Global Green Arts

  %h2.sans What we did
  %p 
    We built a heavily customized Wordpress
    installation that perfectly conveys the earthy, art-centered brand of
    Global Green Arts.

  %h2.sans The results
  %p
    Global Green Arts recently signed their first distribution deal with
    a major chain of art supply stores, and we're excited to continue our
    relationship with them.


