- content_for :title do
  Web Application Design, Local Job Markets
- content_for :study_title do
  Help Around Town

-# content_for :study_logo do
  = image_tag 'logo_hat.png'

- content_for :study_sidebar do
  .sidebar-slideshow
    %ul
      %li
        = image_tag 'screenshot-hat4.png'
      %li
        = image_tag 'screenshot-hat1.png'
      %li
        = image_tag 'screenshot-hat2.png'
      %li
        = image_tag 'screenshot-hat3.png'
  :javascript
    $('.sidebar-slideshow').easySlider({
      numeric: true,
      controlsBefore: '<div class="numeric-slide-controls">',
      controlsAfter:  '</div>'
    });

  .light-green.item.rounded-small
    %h3 Technology Used
    %ul
      %li Ruby and Ruby on Rails
      %li Continuous integration
      %li AJAX and jQuery
      %li Amazon Web Services (EC2, EBS)
      %li Distributed code control with git
      %li TDD (Test-Driven Development)
      %li MySQL
      %li Geolocation with the Google API




- content_for :study_body do

  %p
    How do you create work in a recession? In May 2010, Reem Yared 
    started hearing the same story from friends: their college kids
    were back in town for the summer and could not find work. She decided
    to create job markets where there were none before.

  %h2.sans What they needed
  %p
    The Help Around Town team approached
    = render('shared/humanweb')
    looking for a full stack of
    design and development services to bootstrap their startup. They needed
    an out-of-the-box team that could investigate their requirements and
    deliver a product.

  %blockquote.quote.rounded-big
    .text
      &#8220;Humanweb helped us
      articulate our vision and better understand our audience.&#8221;
    .dude
      %b Reem Yared
      %br
      CEO, Help Around Town

  %h2.sans What we did
  %p
    After building prototypes of the site we went forward with development.
    A major concern throughout was to keep the site as open as
    possible while still maintaining strict privacy and parental controls for
    users under the age of 18. We coordinated the launch of the website
    with a local marketing campaign.

  %p{:style=>'margin-bottom:0'}
    Features of the site include:
  %ul.disc
    %li weekly job bulletins tailored to a user's interests
    %li a payment system for posting advertisements
    %li administrative functions that give an overview of site activity
    %li an application process for jobs that protects the privacy of both parties

  %h2.sans The results
  %p
    The site provides the groundwork for Help Around Town to grow their
    business over the next year.
    = render('shared/humanweb')
    continues to provide advice and support.

