- content_for :title do
  Web Application Design, Local Job Markets
- content_for :study_title do
  Help Around Town

- content_for :study_pics do
  
  .body-slideshow{:style => 'height: 400px;'}
    %ul
      %li
        = image_tag 'screenshot-hat1.png'
      %li
        = image_tag 'screenshot-hat2.png'
      %li
        = image_tag 'screenshot-hat3.png'
  :javascript 
    $('.body-slideshow ul li').css('height', '447px');
    $('.body-slideshow').easySlider({
      numeric: true,
      controlsBefore: '<div class="numeric-slide-controls">',
      controlsAfter:  '</div>'
    });

  %blockquote.quote
    -#
      Humanweb built the www.helparoundtown.com website from requirements
      to finished product, from database to GUI.
      This was a partnership, where Humanweb gave me not just deliverables, but
      feedback, advice and opinions on how to create a better site. They functioned
      as full-fledged team members and I must say, now that the project is delivered,
      I miss their input.
    %p
      &#8220;Their commitment to the project, their personal investment
      in seeing it succeed, and the simple pleasure of working with smart, dedicated,
      energized developers, made the process of building a complex website a pleasure.
      I recommend them highly.&#8221;
    %p.dude
      Reem Yared
      %br
      CEO, Help Around Town


- content_for :study_body do
  %p
    How do you create work in a recession? In May 2010, Reem Yared 
    started hearing the same story from friends: their college kids
    were back in town for the summer and could not find work. She decided
    to create job markets where there were none before.

  %h3 What they needed
  %p
    The Help Around Town team approached
    = render('shared/humanweb')
    looking for a full stack of
    design and development services to bootstrap their startup. They needed
    an out-of-the-box team that could investigate their requirements and
    deliver a product.


  %h3 What we did
  %p
    After building prototypes of the site we went forward with development.
    A major concern throughout was to keep the site as open as
    possible while still maintaining strict privacy and parental controls for
    users under the age of 18. We coordinated the launch of the website
    with a local marketing campaign.

  %h3 The results

  %p{:style=>'margin-bottom:0'}
    Features of the site include:
  %ul.disc
    %li weekly job bulletins targeted at a user's interests
    %li secure payment system for posting advertisements
    %li administrative dashboard that gives an overview of site activity
    %li an application process for jobs that protects the privacy of both parties

  %p
    The site provides the groundwork for Help Around Town to grow their
    business and organization over the next year.
    = render('shared/humanweb')
    continues to provide advice and support.

