.project
  %h2 Help Around Town
  %p
    How do you create jobs during an economic downturn? Hyper-local, neighborhood
    job boards.
    = render 'shared/humanweb'
    was hired by this Boston-based startup to provide
    a full range of design and development services.
  = image_tag 'logo_hat.png'

.project
  %h2 South Side Health
  %p
    A national, community-edited database used by social workers to find
    services for their clients.
  = image_tag 'logo_ssh.png'
  %p In partnership with
  = image_tag 'logo_urbanhealth.png'
  = image_tag 'logo_healthleads.png'

.project
  %h2 Global Green Arts
  %p
    We worked with the veteran graphic designers at Global Green Arts to create
    a promotional website showcasing their line of eco-friendly art materials, sold at
    Blick art stores.
  = image_tag 'logo_globalgreen.png'
  = image_tag 'logo_blick.jpg'

.project
  %h2 Project EVIE
  %p
    Design and social media campaign for a non-profit promoting electric vehicles.
  = image_tag 'logo_evie.png'
