- content_for :title do
  Social Media Campaign, Web Design, Electric Vehicles
- content_for :study_title do
  Project EVIE

- content_for :study_logo do
  = image_tag 'logo_evie.png'

- content_for :study_sidebar do
  .item.light-green.rounded-small
    %h3 Technology Used
    %ul
      %li HTML5 and CSS3
      %li JavaScript with jQuery
      %li Twitter and Facebook integration
      %li MailChimp for huge mailings

- content_for :study_body do
  %p
    Project EVIE is a non-profit organization dedicated to promoting the
    adoption of electric vehicles. Humanweb sponsored them by providing
    a beautifully designed web presence.

  %blockquote.quote.rounded-big
    .text
      &#8220;The clean, spacious design of our site goes perfectly with
      our organization's brand.&#8221;
    .dude
      %b Jonathan Azrielant
      %br
      Founder, Project EVIE

  %p.center
    %em This case study is not yet complete.

  %h3 In the press
  %ul
    %li
      = link_to '"Project Evie: Around the world in an electric car"', "http://www.ridelust.com/project-evie-around-the-world-in-an-electric-car/"
      RideLust.com April 9, 2010.
    %li
      = link_to '"Racing Around the World in Electric Cars, Dodging Minefields"', "http://www.thedailygreen.com/living-green/blogs/cars-transportation/electric-car-race-460410"
      The Daily Green April 8, 2010.
    %li
      = link_to '"Around the World in an Electric Car"'
      Change.org Mar 4, 2010.
    %li
      = link_to '"Five Questions: Jon Azrielant, Project EViE Executive Director"', "http://www.greencarreports.com/blog/1042675_five-questions-jon-azrielant-project-evie-executive-director"
      Green Car Reports. Feb 23, 2010.
    %li
      = link_to '"Project Evie Will Drop EV Around Parts Of Globe To Prove Viability"', "http://www.earthtechling.com/2010/02/project-evie-will-drop-ev-around-parts-of-globe-to-prove-viability/"
      EarthTechling. Feb 19, 2010.
    %li
      = link_to '"Project EVIE | Around the world in a production electric vehicle"', "http://www.ekopolitan.com/culture/project-evie-around-world-production-electric-vehicle"
      ekopolitan. Feb 10, 2010.
    %li
      = link_to '"Project EVIE: Around the World in an Electric Car"', "http://www.fastcompany.com/blog/ariel-schwartz/sustainability/project-evie-around-world-electric-car"
      Fast Company. Feb 2, 2010.
    %li
      = link_to "Project Evie getting ready to go 'round the world in an electric car", "http://green.autoblog.com/2010/02/02/project-evie-getting-ready-to-go-round-the-world-in-an-electric/"
      AutoBlog Green. Feb 2, 2010.
    %li
      = link_to "Power Play", "http://www.hemispheresmagazine.com/2010/01/01/power-play/"
      Hemispheres Magazine. Jan 1, 2010.
    %li
      = link_to "Spotlight On... Project EVIE", "http://theleaflet.greenedgenyc.org/December%2009/Non-Profit/Project%20EVIE.html"
      The Leaflet. Dec 1, 2009.

