- content_for :title do
  Find Social Services
- content_for :study_title do
  Purple Binder

-content_for :study_sidebar do

  .center= image_tag 'thumb-pb.png', :style => 'border: 1px solid #ddd;'
  .item.light-green.rounded-small
    %h3 Technology Used
    %ul
      %li Rails 3.2
      %li Dynamic frontend with EmberJS
      %li Geolocation with Google API
      %li jQuery
      %li HTML5 with CSS3

- content_for :study_logo do
  = image_tag 'thumb-rentstuff.png'

- content_for :study_pics do
  .body-slideshow{:style=>'height: 340px;'}
    %ul
      %li
        = image_tag 'screenshot-pb1.png'
      %li
        = image_tag 'screenshot-pb2.png'
      %li
        = image_tag 'screenshot-pb3.png'
  :javascript 
    $('.body-slideshow ul li').css('height', '387px');
    $('.body-slideshow').easySlider({
      numeric: true,
      controlsBefore: '<div class="numeric-slide-controls">',
      controlsAfter:  '</div>'
    });


- content_for :study_body do
  %p
    Purple Binder is an app that lets you find social services near you. It is
    the first comprehensive, up-to-date directory of Chicago’s social safety
    net. Social workers
    use it to give their clients better referrals and waste less time hunting
    for service providers.

  %p 
    In September 2012, we're rolling out to all of the students of social work in Chicago.
    They will use it at their field placements to give them a head start in their work.

  %p
    Purple Binder stays up to date through its users, who share rather than
    duplicate each others' efforts to find fresh info about Chicago’s social
    services. The app also makes it easy for social workers to collaborate, sharing notes
    and lists of programs.

  %p
    %b The result:
    a social safety network.
