-# This page is currently commented out in routes.rb
-# We took it down as per UCM's request.

- content_for :title do
  Web Application Design, Custom Database Design, Social Services Database
- content_for :study_title do
  &ldquo;SSH&rdquo;

- content_for :study_sidebar do
  -#.sidebar-slideshow
    %ul
      %li
        = image_tag 'screenshot-ssh2.png'
      %li
        = image_tag 'screenshot-ssh1.png'
      %li
        = image_tag 'screenshot-ssh3.png'
      %li
        = image_tag 'screenshot-ssh4.png'
    :javascript
      $('.sidebar-slideshow').easySlider({
        numeric: true,
        controlsBefore: '<div class="numeric-slide-controls">',
        controlsAfter:  '</div>'
      });

  -#.item
    %h3.center In partnership with
    = image_tag 'logo_urbanhealth.png'
    -#%br
    -#= image_tag 'logo_healthleads.png'

  -#= image_tag 'logo_ssh.png'
  .item.light-green.rounded-small
    %h3 Technology Used
    %ul
      %li PHP and CakePHP
      %li Agile development
      %li AJAX, Ext, and jQuery
      %li Weekly user focus groups
      %li Distributed version control with Mercurial
      %li Project management with Kiln and FogBugz
      %li MySQL
      %li Geolocation with the Google API

- content_for :study_pics do
  %blockquote.quote.no-top-margin
    %p.text
      &#8220;I was impressed by their personable handling of large focus groups
      and their ability to draw out subtleties in user motivation. Subsequently they
      translated those subtleties into good design. Though the underlying
      technology is complicated, the user design is simple and inviting.&#8221;

  %blockquote.quote.no-top-border.no-top-margin
    %p
      &#8220;They took a previous contractor's design and re-architected it so the
      site would scale, all the while keeping the site operational for the
      5000+ users who depend on it.&#8221;
    %p.dude
      Director of Technology Projects, Major Chicago Hospital


- content_for :study_body do

  %p
    Humanweb built a site to help staff at a major non-profit find essential resources for
    low-income patients.

  %h3 What they needed
  %p
    When
    =render('shared/humanweb')
    was first approached to develop the site, it was already in
    widespread use despite major issues with stability and user interface. This
    pointed towards a deep-seated need for such an application, and only made
    us more excited to take on the project.



  %h3 What we did
  %p
    We spent the first few weeks updating the look of the site and fixing
    bugs and usability issues. Then,
    = render 'shared/humanweb'
    met with heavy users of the site
    to discover what they liked, what they didn't, and what they wished they
    could do.
    Through weekly meetings with users, we invested them in the development
    process and were able to get immediate feedback from the people to whom
    the site mattered most.


  %h3 The results
  %p
    The site is used every day to connect thousands of
    clients with the social services that they need. By centralizing this information,
    SSH helps to reduce unnecessary emergency
    room visits.

  -#%p.light-grey
    The South Side Health application is open source, licensed under the
    Apache 2.0 license. It is available in a Mercurial
    <a href="http://bitbucket.org/southsidehealth/southsidehealth">repository</a> hosted
    on Bitbucket.
    
