- indexpage ||= false

%article
  - if indexpage
      %h1.title
        = link_to post.title, post_path(post)
    - else
      %h1.title= post.title

  .content-area
    .time.light-grey
      = post.created_at.strftime('%B %d, %Y')
    .body 
      = BlueCloth.new(post.body).to_html.html_safe

    - unless indexpage
      %p{:style => 'margin-top: 1em;'}
        = link_to 'back to blog', posts_path, :class => 'light-grey'
