!!!
%html
  %head
    %title
      humanweb -
      = yield :title
    <link rel="shortcut icon" href="/favicon.gif" />
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'default'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.16.custom'

    = javascript_include_tag 'jquery-1.6.4.min'
    = javascript_include_tag 'jquery-ui-1.8.16.custom.min'
    = javascript_include_tag 'easySlider1.7'
    = javascript_include_tag 'humanweb'

  %body
    #page-header
      .container_12
        .grid_4
          %h1#biglogo humanweb

          - @highlight ||= request.fullpath
        .grid_8{:style=>'position:relative;'}
          %ul#nav-menu
            - if @highlight == root_path
              %li.active= link_to "WHAT WE DO", root_path
            - else
              %li= link_to "WHAT WE DO", root_path

            - if @highlight == team_path
              %li.active= link_to "THE TEAM", team_path
            - else
              %li= link_to "THE TEAM", team_path

            - if @highlight.start_with?(work_path)
              %li.active= link_to "OUR WORK", work_path
            - else
              %li= link_to "OUR WORK", work_path

            - if @highlight == contact_path
              %li.active= link_to "HIRE US", contact_path
            - else
              %li= link_to "HIRE US", contact_path
  
    #bodyContainer{:style=>'padding-bottom:20px;'}
      #bodyPage.container_12
        = content_for?(:content) ? yield(:content) : yield

    .container_12
      .grid_12#page-footer.node-right
        &copy; #{DateTime.now.year} Human Web Solutions LLC
