- content_for :content do
  
  .headline-container.center
    %h1
      = yield :study_title
    %h2 Case study

  .content-area
    .grid_12
      .padding-30
        .back-to-portfolio
          %p= link_to "< back to portfolio", work_path, :class => 'light-grey'
      
        .left-column
          = yield :study_pics

        .right-column.study-body
          = yield :study_body
        
    .grid_12
      .padding-30
      .padding-30
        = render 'shared/casestudies' 

= render :template => 'layouts/application'
