- content_for :content do
 

  .grid_8
    %h1.dark-grey.no-bottom-margin
      = yield :study_title
      %span.light-grey | Case Study
    %div
      = link_to "< back to portfolio", work_path, :class => 'light-grey'

    .clearfix{:style=>'margin-top: 1.4em;'}

    = yield :study_body

  .grid_4.right-sidebar
    -#.rounded-big
    = yield :study_sidebar
    .item.light-green.rounded-small
      %h3 More Case Studies
      %ul
        - unless request.fullpath == work_helparoundtown_path
          %li= link_to "Help Around Town", work_helparoundtown_path
        - unless request.fullpath == work_globalgreenarts_path
          %li= link_to "Global Green Arts", work_globalgreenarts_path
        - unless request.fullpath == work_projectevie_path
          %li= link_to "Project EVIE", work_projectevie_path
        - unless request.fullpath == work_southsidehealth_path
          %li= link_to "South Side Health", work_southsidehealth_path

= render :template => 'layouts/application'
