- content_for :content do
  
  .headline-container.center
    %h1
      = yield :study_title
    %h2 Case study

  .content-area
    .content-area-container
      = link_to "< back to portfolio", work_path, :class => 'light-grey'
      .clearfix{:style=>'margin-top: 1.4em;'}

      = yield :study_body

      = render 'shared/casestudies' 

= render :template => 'layouts/application'
